@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #dbdbdb;
    --sb-size: 11px;
}

.custom-scroll::-webkit-scrollbar {
    width: var(--sb-size);
}

.custom-scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 34px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 34px;
    border: 3px solid #dbdbdb;
}

@supports not selector(::-webkit-scrollbar) {
    .custom-scroll {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}